  body {
    background-color: rgb(141, 132, 118);
  } 
  p {
    font-size: 20px;
    font-family:cursive;
  }
  section {
    background-color: rgb(204, 190, 171);
    font-family:fantasy;
  }
  #bio {
    background-color: rgb(204, 190, 171);
    padding: 10px;
  }
  #email {
    font-family:fantasy;
  }
  #github {
    font-family:fantasy;
  }
  #portfolio {
    font-family:fantasy;
  }